/* footer */
.footerGri{ /*Contenedor padre*/
    background-color: #B194C8;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;
    font-size: 20px;
    height: auto;
    align-items: center;
}
.footerGri{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 15px;
}
/* iconos  */
#icono_contacto, #icono_redes, #icono_pago{
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 19px;
}
/* enlaces  */
.footerGri a{
    text-decoration: none;
    color: black;
}
/* responsive */
@media screen and (min-width:375px) and (max-width:420px) {
    .footerGri{
        grid-template-columns: 1fr;
    }
    #instagram, #facebook{
        width: 50px;
    }
}

@media screen and (min-width:421px) and (max-width:800px) {
    .footerGri{
        grid-template-columns: 1fr;
        overflow-x: hidden;
    } 
}